*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family:'Courier New', Courier, monospace;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    height: 100vh;
    color: #5083b3;
}
.validate{
    /* width: 300px; */
    color: #c22e2e;
    font-weight: bolder;
    padding: 0 1rem;
    margin: 1rem 0;
    text-align: center;
}
.validate li{
    padding: 5px 0;
}
form{
    min-width: 300px;
    padding: 1rem 0;
    border: 1px solid #a6b7c7;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    padding: 10px 0;
}
.input input{
    padding: .6rem 0;
    border: none;
    border-bottom: 1px solid #a6b7c7;
    outline: 0;
    font-size: 1rem;
    text-align: center;
}
.input input:focus{
    background-color: #9ab3ca3b;
    border-radius: .5rem;
}
.input input::placeholder{
    text-align: center;
}
.submit input{
    padding: .5rem 2rem;
    border-radius: 30px;
    border: 1px solid #a6b7c7;

    transition: .3s ease-in;
}
.submit input:hover{
    background-color: #a6b7c7;
    color: white;
}
.submit{
    margin-bottom: 1rem;
}
.linkto{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1px;

    font-weight: bold;
    padding-bottom: .52rem;
    cursor: default;
}
.linkto span{
    display: block;
    color: #555;
    cursor: pointer;
    background-color: #ffffffb0;

    padding: .5rem 1.5rem;
    border-radius: .8rem;
}
.landingpage{
    margin-top: 1rem;
}
.profile__container{
    background-color: #a6b7c7;
    color: #f5f5f5;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}
.profile__container h1{
    margin-bottom: 1rem;
}