<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Login</h1>
    <ul class="validate">
        <% if(messages.success_message){%>
            <li><%= messages.success_message %></li>
        <%}%>
    </ul>
    <ul class="validate">
        <% if(messages.error){ %>
            <li><%= messages.error %></li>
        <%}%>
    </ul>
    <form action="/users/login" method="POST">
        <div class="input">
            <input type="text" id="name" name="name"  placeholder="name" required>
        </div>
        <div class="input">
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="submit">
            <input type="submit" value="login">
        </div>
        <a href="/users/register" class="linkto">
            Don't have an account? <span>Sign up</span>
        </a>
    </form>
</body>
</html>