<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Resister</h1>
    <ul class="validate">
        <% if(typeof errors != 'undefined'){ %>
             <% errors.forEach(error=>{ %>
                <li><%= error.message %></li>
            <% })%>
        <% } %>
    </ul>
    <form action="/users/register" method="post">
        <div class="input">
            <input type="text" id="name" name="name" placeholder="Username" required>
        </div>
        <div class="input">
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="input">
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="input">
            <input type="password" id="password2" name="password2" placeholder="Confirm Password" required>
        </div>
        <div class="submit">
            <input type="submit" value="Register">
        </div>
        <a href="/users/login" class="linkto">
            Have an account? <span>Log in</span>
        </a>
    </form>
</body>
</html>